Please, visit this web page to complete your user registration:

$URL

Otherwise your request will expire after: $EXPIRATION_TIME

Once confirmed, your account will be created using the following details:
  User name:    $USER_NAME
  Password:     $PASSWORD
  E-mail:       $E_MAIL
  Request date: $CREATED_TIME

If you do not wish to be subscribed to SQO-OSS, please ignore this message. In this case, your registration request will be automatically deleted after the expiration period passes. 
