

body {
    margin: 0px;
    font-family: Sans-Serif;
    color: black;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}


#content {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: justified;
    font-size: 1.2em;
}

#content ul {
    padding-left: 40px;

}

#banner {
    padding: 0px;
    margin-bottom: 4ex;
    height: 89px;
    background: #cccccc;
    margin: 0px;
}

#banner .alitheialogo {
    float: right;
}

#banner .sqologo {
    float: left;
}

#footer {
    padding: 1ex 1em;
    border-top: 1px solid #cecece;
    margin-top: 1ex;
    height: 4ex;
    color: #333333;
    background: #eeeeee;
    font-size: x-small;
    text-align: right;
    clear: both;
}


#status, #menu {
    background: #eeeeee;
    width: 20%;
    float: left;
    clear: left;
    border: 1px solid #cccccc;
    padding: 1ex 1em;
    margin: 1ex 4ex 4ex 4px;
    font-size: small;
    font-weight: bold;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 5px;
}

#news {
    padding: 1ex 1em 1ex 22%;
}

