target*
runner/*
*.classpath
*.DS_Store
*.project
*.settings
plug-ins/git/test/
maven.jks
*.externalToolBuilders
/.idea/
bin/
.metadata
*.*~
*.externalToolBuilders
.idea/
*.iml
*.ipr
*.iws
*.db
*.aux
assignment1 report/software reengineering assignment 1 adam kucera maarten duijn.log
assignment1 report/software reengineering assignment 1 adam kucera maarten duijn.pdf
assignment1 report/software reengineering assignment 1 adam kucera maarten duijn.synctex.gz
nb-configuration.xml
alitheia/cache/tmp/*
