<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->
        <property name="hibernate.c3p0.acquire_increment">1</property> 
        <property name="hibernate.c3p0.idle_test_period">100</property> <!-- seconds --> 
        <property name="hibernate.c3p0.max_size">100</property> 
        <property name="hibernate.c3p0.max_statements">0</property> 
        <property name="hibernate.c3p0.min_size">1</property> 
        <property name="hibernate.c3p0.timeout">100</property> <!-- seconds -->
        
        <property name="hibernate.connection.isolation">2</property>

        <!-- Read ahead size for JDBC connection -->
        <property name="default_batch_fetch_size">30</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Make sure that the language used in custom queries is 100% QL compatible -->
        <property name="query.jpaql_strict_compliance">false</property>

        <mapping class="eu.sqooss.service.db.Bug" />
        <mapping class="eu.sqooss.service.db.BugStatus" />
        <mapping class="eu.sqooss.service.db.BugReportMessage" />
        <mapping class="eu.sqooss.service.db.BugSeverity" />
        <mapping class="eu.sqooss.service.db.BugPriority" />
        <mapping class="eu.sqooss.service.db.BugResolution" />
        <mapping class="eu.sqooss.service.db.MailingList" />
        <mapping class="eu.sqooss.service.db.MailMessage" />
        <mapping class="eu.sqooss.service.db.MailingListThread" />
        <mapping class="eu.sqooss.service.db.ProjectVersion" />
        <mapping class="eu.sqooss.service.db.ProjectFile" />
        <mapping class="eu.sqooss.service.db.ProjectFileState"/>
        <mapping class="eu.sqooss.service.db.Developer"/>
        <mapping class="eu.sqooss.service.db.DeveloperAlias"/>
        <mapping class="eu.sqooss.service.db.Directory" />
        <mapping class="eu.sqooss.service.db.Tag" />
        <mapping class="eu.sqooss.service.db.Branch"/>
        <mapping class="eu.sqooss.service.db.StoredProject"/>
        <mapping class="eu.sqooss.service.db.StoredProjectConfig"/>
        <mapping class="eu.sqooss.service.db.ConfigurationOption"/>
        <mapping class="eu.sqooss.service.db.ClusterNode"/>
        <mapping class="eu.sqooss.service.db.Plugin"/>
        <mapping class="eu.sqooss.service.db.PluginConfiguration"/>
        <mapping class="eu.sqooss.service.db.Metric"/>
        <mapping class="eu.sqooss.service.db.MetricType"/>
        <mapping class="eu.sqooss.service.db.StoredProjectMeasurement"/>
        <mapping class="eu.sqooss.service.db.ProjectVersionMeasurement"/>
        <mapping class="eu.sqooss.service.db.ProjectFileMeasurement"/>
        <mapping class="eu.sqooss.service.db.MailingListThreadMeasurement"/>
        <mapping class="eu.sqooss.service.db.MailMessageMeasurement"/>
        <mapping class="eu.sqooss.service.db.InvocationRule"/>
        <mapping class="eu.sqooss.service.db.OhlohDeveloper"/>
        <mapping class="eu.sqooss.service.db.ProjectVersionParent"/>
        <mapping class="eu.sqooss.service.db.NameSpace"/>
        <mapping class="eu.sqooss.service.db.ExecutionUnit"/>
        <mapping class="eu.sqooss.service.db.EncapsulationUnit"/>
        <mapping class="eu.sqooss.service.db.NameSpaceMeasurement"/>
        <mapping class="eu.sqooss.service.db.ExecutionUnitMeasurement"/>
        <mapping class="eu.sqooss.service.db.EncapsulationUnitMeasurement"/>
    </session-factory>

</hibernate-configuration>
