<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

	<!-- Database connection settings -->
	<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
	<property name="hibernate.connection.url">jdbc:hsqldb:hsql://127.0.0.1/sqooss</property>
	<property name="hibernate.connection.username">sa</property>
	<property name="hibernate.connection.password"></property>

	<!-- Use the C3PO connection pool provider -->
	<property name="hibernate.c3p0.min_size">5</property>
	<property name="hibernate.c3p0.max_size">20</property>
	<property name="hibernate.c3p0.timeout">300</property>
	<property name="hibernate.c3p0.max_statements">50</property>
	<property name="hibernate.c3p0.idle_test_period">3000</property>

	<!-- SQL dialect -->
	<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

	<!-- Enable Hibernate's automatic session context management -->
	<property name="hibernate.current_session_context_class">thread</property>
	<property name="hibernate.transaction.auto_close_session">true</property>

	
	<!-- Disable the second-level cache -->	
	<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
	
	<!-- Echo all executed SQL to stdout -->
	<property name="hibernate.show_sql">true</property>

	<mapping resource="StoredProject.hbm.xml"/>
	<mapping resource="ProjectVersion.hbm.xml"/>
	<mapping resource="ProjectFile.hbm.xml"/>
	<mapping resource="Metric.hbm.xml"/>
	<mapping resource="MetricType.hbm.xml"/>
	<mapping resource="Measurement.hbm.xml"/>
	<mapping resource="Plugin.hbm.xml"/>
	<mapping resource="FileGroup.hbm.xml"/>
	
    </session-factory>
</hibernate-configuration>
