<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

	<extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.projectPropertyPage" 
            name="SQO-OSS"
            class="eu.sqooss.impl.plugin.properties.ProjectPropertyPage"> 
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>

	<extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.configurationPropertyPage" 
            name="Configuration"
            class="eu.sqooss.impl.plugin.properties.ConfigurationPropertyPage"
            category="eu.sqooss.impl.plugin.properties.projectPropertyPage">
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>
    
    <!--
    <extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.profilePropertyPage" 
            name="Profiles"
            class="eu.sqooss.impl.plugin.properties.ProfilePropertyPage"
            category="eu.sqooss.impl.plugin.properties.projectPropertyPage">
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>
    -->
    
    <extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.qualityPropertyPage" 
            name="Quality"
            class="eu.sqooss.impl.plugin.properties.QualityPropertyPage"
            category="eu.sqooss.impl.plugin.properties.projectPropertyPage">
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="eu.sqooss.impl.plugin.preferences.ConfigurationPreferencePage"
             id="eu.sqooss.impl.plugin.preferences.configurationPreferencePage"
             name="SQO-OSS">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="eu.sqooss.impl.plugin.preferences.PreferenceInitializer">
       </initializer>
    </extension>

</plugin>
