<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.projectPropertyPage" 
            name="SQO-OSS"
            class="eu.sqooss.impl.plugin.properties.ProjectPropertyPage"> 
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>

	<extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.configurationPropertyPage" 
            name="Configuration"
            class="eu.sqooss.impl.plugin.properties.ConfigurationPropertyPage"
            category="eu.sqooss.impl.plugin.properties.projectPropertyPage">
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>
    
    <!--
    <extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.profilePropertyPage" 
            name="Profiles"
            class="eu.sqooss.impl.plugin.properties.ProfilePropertyPage"
            category="eu.sqooss.impl.plugin.properties.projectPropertyPage">
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>
    -->
    
    <extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="eu.sqooss.impl.plugin.properties.qualityPropertyPage" 
            name="Quality"
            class="eu.sqooss.impl.plugin.properties.QualityPropertyPage"
            category="eu.sqooss.impl.plugin.properties.projectPropertyPage">
            <enabledWhen>
            	<adapt
					type="org.eclipse.core.resources.IResource">
				</adapt>
          	</enabledWhen>
        </page> 
    </extension>

</plugin>
