html, body, form {
	padding: 0;
	margin: 0;
}

form {
	display: inline;
}

#banner {
	padding: 0px;
	margin-bottom: 1ex;
	height: 89px;
	background: #cccccc;
}

#banner .alitheialogo {
	float: right;
}

#banner .sqologo {
	float: left;
}

#footer {
	padding: 1ex 1em;
	border-top: 1px solid #cecece;
	margin-top: 1ex;
	height: 4ex;
	font-color: #333333;
	font-size: x-small;
	text-align: right;
	clear: both;
}

#projectlist, #newproject {
	width: 30%;
	float: left;
}


#status, #menu, #options {
	background-color: #ecebeb;
	width: 18%;
	float: left;
	clear: left;
	border: 1px solid #ccc;
	padding: 1ex 1em;
	margin: 1ex 1em 1ex 1em;
	font-size: small;
}

legend {
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
}

#logs {
	display: inline;
	width: 75%;
	float: right;
}

#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#menu li {
	margin-left: 0px;
	padding-left: 0px;
}

#news {
	padding: 1ex 1em 1ex 22%;
}

