html, body {
	padding: 0;
	margin: 0;
}

#banner {
	padding: 0px;
	margin-bottom: 1ex;
	height: 89px;
	background: #cccccc;
}

#banner .alitheialogo {
	float: right;
}

#banner .sqologo {
	float: left;
}

#footer {
	padding: 1ex 1em;
	border-top: 1px solid #cecece;
	margin-top: 1ex;
	height: 4ex;
	font-color: #333333;
	font-size: x-small;
	text-align: right;
	clear: both;
}

#projectlist, #newproject {
	width: 30%;
	float: left;
}


#status, #menu, #options {
	width: 20%;
	float: left;
	clear: left;
	border: 1px solid #cccccc;
	padding: 1ex 1em;
	margin: 1ex 1em 1ex 1em;
	font-size: small;
}

#logs {
	width: 80%;
	float: right;
}

#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#menu li {
	margin-left: 0px;
	padding-left: 0px;
}

#news {
	padding: 1ex 1em 1ex 22%;
}

