body {
	font: 12px verdana, lucida, arial, helvetica, sans-serif;
}

ul {
	list-style-type: none;
}

.supportPurple {
	background-color: #ead4e2;
	padding: 5px;
	border-bottom: 1px #fff solid;
}

.supportPurpleNoBorder {
	background-color: #ead4e2;
	padding: 5px;
}

.supportPurpleImageUp {
	background: #fff url(/purpleUp.gif) no-repeat;
	font-weight: bold;
	height: 30px;
	border-bottom: 1px #fff solid;
	text-align: center;
	width: 500px;
}

.supportPurpleImageDown {
	background: url(/purpleDown.gif) bottom no-repeat;
	height: 25px;
}

.supportLblue {
	background-color: #d4e0ea;
	padding: 5px;
	border-bottom: 1px #fff solid;
	text-align: center;
}

.supportLblueNoBorder {
	background-color: #d4e0ea;
	padding: 5px;
}

.supportLblueImageUp {
	width: 198px;
	background: #fff url(/blueUp.gif) no-repeat;
	font-weight: bold;
	border-bottom: 1px #fff solid;
	text-align: center;
}

.supportLblueImageDown {
	background: #ecebeb url(/blueDown.gif) bottom no-repeat;
	text-align: center;
}

.supportGold {
	background-color: #f1cd75;
	padding: 5px;
	border-bottom: 1px #fff solid;
}

.supportGoldNoBorder {
	background-color: #f1cd75;
	padding: 5px;
}

.supportGoldImageUp {
	background: #fff url(/goldUp.gif) no-repeat;
	font-weight: bold;h
	border-bottom: 1px #fff solid;
}

.supportGoldImageDown {
	background: #ecebeb url(/goldDown.gif) bottom no-repeat;
	
}

.supportGrey {
	color: #000;
	padding: 5px;
	background-color: #ecebeb;
}

.supportGreyNoBorder {
	padding: 5px;
	color: #000;
	background-color: #ecebeb;
}

.supportGreyTop {
	background: url(/greyBack.png) top no-repeat;

}

.supportGreyLeft {
	background: url(/greyBack.png) left no-repeat;
	text-indent: 25px;
        min-width: 200px;
}

.supportGreyRight {
	background: url(/greyBack.png) right no-repeat;
}

.supportGreyTopLeft {
        text-align: center;
	width: 250px;
	font-weight: bold;
	background: #fff url(/greyBack.png) left top no-repeat;
}

.supportGreyTopRight {
	background: #fff url(/greyBack.png) right top no-repeat;
}

.supportGreyBottom {
	background: url(/greyBack.png) bottom repeat-x;
}

.supportGreyBottomLeft {
	background: #fff url(/greyBack.png) left bottom no-repeat;
	height: 30px;
}

.supportGreyBottomRight {
	background: #fff url(/greyBack.png) right bottom no-repeat;
}

.supportGreyNoBorderRight {
	background: #fff url(/greyBack.png) right no-repeat;
}

.supportGreyNoBorderLeft {
	background: #fff url(/greyBack.png) left no-repeat;
	text-indent: 25px;
}

.supportYellow {
	padding: 5px;
	background-color: #ede9dd;
	font-weight: bold;
        border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
}