/* Layout */

body,
html {
	margin:0;
	padding:0;
	width: 100%;
	font-family: Verdana, Helvetica, Arial, sans serif;
	color:#000;
	background:#fff;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #D62222;
    text-decoration: none;
}

a:active {
    font-weight: bold;
}

a:visited {
    color: #131114;
}


#header {
	background: #fff url(/style/header-repeat.png) repeat-x;
	height: 75px;
}

#header h1 {
	float: right;
    padding: 10px 15px 0 0;
	font-size: 18px;
	font-weight: bold;
}

#header img {
	padding: 10px 0 0 10px;
}

#main {
	background:#fff;
	float:left;
	width: 75%;
	padding: 15px;
}


#footer {
	background: #fcfbf3;
	border-top: 1px solid #ccc;
	text-align: center;
	font-size: 0.8em;
	clear:both;
}

#footer p {
	padding:5px;
	margin:0;
}

/* Tabs Content */

#contents {	
	background : #fff;
	border : 1px solid #ccc;
	border-top : none;
    text-align: justified;
	margin : 0px;
	padding : 15px;
}

#contents h1 {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px dotted #000;
}

#contents h2 {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px dotted #000;
}



blockquote {
    font-style: italic;
}

legend {
    font-weight: bold;
}

