body {
background-color: pink;
padding: 1ex 1em;
}

h1 {
color: green;
padding-left: 1em;
margin-left: 1em;
}

.box {
border: 3px solid white;
}

#bundlelist, #servicelist {
background: yellow;
}

#footer {
border-top: 1px solid white;
padding: 1ex 2em;
}

#footer .copyright {
display: block;
float: right;
font-size: small;
font-style: italic;
color: grey;
}

#id {
display: block;
float: right;
margin: 1ex 1ex;
}

