#main {
    height: 1%;
}
#news,
#tagcloud,
#projectslist,
#metricslist,
#fileslist,
#developerslist,
#loginpage {
    height: 1%;
}
#selectedproject {
    height: 1%;
}
div.winContent {
    height: 1%;
}
select.vfvmid {
    width:98px;
}
select.vfvfid {
    width:98px;
}