/*****************************************************************************
    CSS for Alitheia's web interfaces. This is the shared portion
    of the CSS, which defines general layout principles such as
    body, #sidebar, #header and #footer. There shouldn't be much
    layout specific to a particular application in here at all.

    This file should NO MORE be kept in-sync between the following places:
        ui/webui/webapp/style/screen.css
        alitheia/core/src/main/resources/screen.css
*****************************************************************************/

body,
html {
    color: #000000;
    background: #F6F6F6;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
table {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}
td {
    padding: 0;
    vertical-align: top;
}
a {
    color: #0099FF;
    text-decoration: none;
}
a:visited {
    color: #0099FF;
    text-decoration: none;
}
a:hover {
    color: #0033CC;
    text-decoration: none;
}
#wrap {
    background: #FFFFFF;
    width: 100%;
}
#header {
    background: #FFFFFF url(/header-repeat.png) repeat-x;
    height: 75px;
}
#header h1 {
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
    margin-top: 34px;
    vertical-align: top;
}
#header img {
    height: 45px;
    margin-left: 8px;
    margin-top: 8px;
    vertical-align: top;
}
#main {
    margin: 5px 5px 0px 5px;
    padding: 0;
    /* IE hack serie */
    height: 1%;
}
#content {
    font-size: 12px;
    margin: 0.7em 0px 0px 0px;
    padding: 0;
}
#sidebar {
    font-size: 12px;
    margin: 0px 0px 0px 5px;
    padding: 0;
}
#sidebar fieldset {
    background-color: #F6F6F6;
    border: 1px solid #CCCCCC;
    margin: 0px 0px 5px 0px;
    padding: 0px 5px 5px 5px;
}
#sidebar legend {
    background-color: #FFF6AF;
    border-bottom: 1px solid #777777;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #777777;
    border-top: 1px solid #CCCCCC;
    color: #000000;
    font-family: "Courier New" "Monaco" "DejaVu Sans Mono" monospace;
    font-weight: bold;
    margin: 0;
    padding: 0px 2px 0px 2px;
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer {
    background: #F6F6F6;
    border-top: 1px solid #CCCCCC;
    font-size: 12px;
    text-align: center;
}
#footer p {
    padding: 5px;
    margin: 0;
}