/* CSS Specific to the webui (public facing website). See screen.css
   for the general layout common to Alitheia web pages.
*/

#news,
#tagcloud,
#projectslist,
#metricslist,
#fileslist,
#developerslist,
#loginpage {
    border: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    /* Height: 36px for image and 5px padding. */
    min-height: 46px;
    padding: 5px 5px 0px 46px;
}
#news {
    background: #fff url(/img/news_section.png) no-repeat;
    background-position: 5px 5px;
}
#tagcloud {
    background: #fff url(/img/toys_section.png) no-repeat;
    background-position: 5px 5px;
}
#tagcloud td {
    text-align: center;
}
#tagcloud a {
    text-decoration: none;
}
#projectslist {
    background: #fff url(/img/desktop-mdk.png) no-repeat;
    background-position: 5px 5px;
}
#metricslist {
    background: #fff url(/img/artsaudiomanager.png) no-repeat;
    background-position: 5px 5px;
}
#selectedproject {
    border: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    padding: 5px 5px 0px 5px;
    widht: 100%;
}
#selectedproject table {
    border-collapse: collapse;
    width: 100%;
}
#selectedproject td {
    padding: 0;
    vertical-align: top;
}

ul.projectslist {
    list-style-image: url(/img/icons/16x16/document-preview.png);
    margin: 0;
    padding-left: 2em;
}

/* These are little link spans to unselect something. */
span.forget {
    margin-left: 30px;
    font-size: 0.6em;
    color: #666;
}

span.forget a {
    color: #666;
}
input.submit {
    width: 80px;
}
#error ul li {
    list-style-type: square;
    color: #CE2323;
}
#fileslist li {
    list-style-type: none;
}
/* ===[ ICONS CSS ]======================================================= */
a.icon img {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
    opacity: .70;
    filter: alpha(opacity=70);
}
a:hover.icon img {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
    opacity: 1;
    filter: alpha(opacity=100);
}
img.icon {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
}
img.icon_disabled {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
    opacity: .25;
    filter: alpha(opacity=25);
}
p.texticon {
    color: inherit;
    display: inline;
    padding: 0;
    vertical-align: top;
}
p.texticon_disabled {
    color: #A0A0A0;
    display: inline;
    padding: 0;
    vertical-align: top;
}
a.texticon {
    color: #000000;
    background-color: transparent;
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: top;
}
a:visited.texticon {
    color: #000000;
    background-color: transparent;
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: top;
}
a:hover.texticon {
    color: #0099FF;
    background-color: transparent;
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: top;
}
form.icoTextInput {
    display: inline;
    font-size: 10px;
    margin-left: 5px;
    vertical-align: top;
}
input.icoTextInput {
    border: 1px inset black;
    display: inline;
    font-size: 11px;
    margin-left: 5px;
    padding: 0;
    vertical-align: top;
    width: 5em;
}
/* ===[ WINDOW CSS ]====================================================== */
div.win {
    border: 1px solid #000000;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
div.winTitle {
    background-color: #A4D3EE;
    border-bottom: 1px solid #000000;
    font-family: "Courier New" "Monaco" "DejaVu Sans Mono" monospace;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding-left: 5px;
    position: relative;
}
div.winTitleBar {
    bottom: 0;
    padding-top: 1px;
    position: absolute;
    right: 0;
    text-align:right;
    top: 0;
}
div.winToolbar {
    background-color: #F0F0F0;
    border-bottom: 2px ridge #000000;
    border-top: 2px groove #000000;
    line-height: 16px;
    margin: 0;
    padding-top: 2px;
    padding-left: 5px;
}
div.winContent {
    max-height: 680px;
    overflow: auto;
    padding: 5px;
}
div.winFooter {
    bottom: 0;
    margin: 0;
    border-top: 1px solid #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    background-color: #F0F0F0;
}
div.browserLine {
    line-height: 16px;
    margin: 0;
    padding-top: 2px;
    position: relative;
}
/* ===[ TABLES CSS ]====================================================== */
table.def {
    border: 1px solid #C6C6C5;
    font-size: 10pt;
    width: 100%;
}
td.def {
    border: 1px solid #C6C6C5;
    padding-left: 5px;
    text-align: left;
}
td.def_head {
    background-color: #E6E6FA;
    border: 1px solid #C6C6C5;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    padding-left: 5px;
    text-align: left;
}
div.def_head {
    height: 18px;
    line-height: 18px;
    margin: 0;
    position: relative;
    width: 100%
}
div.def_head_bar {
    bottom: 0;
    padding-top: 1px;
    position: absolute;
    right: 0;
    text-align:right;
    top: 0;
}
td.def_foot {
    background-color: #C6C6C5;
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
}


#table td.head {
    background-color: #E6E6FA;
    font-weight: bold;
    text-align: left;
}
#table td.foot {
    background-color: #C6C6C5;
    font-weight: bold;
    text-align: left;
}
/* ===[ TO SORT]========================================================== */
#table {
    font-size: 10pt;
    clear:both;
}
#table table {
    width: 100%;
    border: 1px solid #C6C6C5;
}
#table td {
    padding-left: 10px;
    border: 1px solid #C6C6C5;
    text-align: left;
}
#table input.expand {
    width: 100%;
}
#table .borderless {
    border: 0;
    background-color: transparent;
}
#table tr.edit {
    cursor: pointer;
}
#table tr.edit:hover {
    background-color: #FFFF99;
}
#table tr.selected {
    background-color: #FFFF99;
}
#table td.name {
    font-weight: bold;
}
#table td.edit {
    cursor: pointer;
}
#table td.edit:hover {
    background-color: #FFFF99;
}
#table td.trans {
    background-color: transparent;
}
#table td.attr {
    background-color: Bisque;
}
#table td.noattr {
    background-color: Bisque;
    font-style: italic;
}
#table td.chart {
    text-align: center;
    padding: 0.5 em;
    background-color: #DDFFFF;
}