/* CSS Specific to the webui (public facing website). See screen.css
   for the general layout common to Alitheia web pages.
*/

#contents h2 {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px dotted #000;
}

#contents table {
    width: 100%;
    border: 0 none;
    padding: 0;
    background-color: #FFFFFF;
}

#contents thead {
    text-align: center;
    font-weight: bold;
}

#contents td {
    border: 0 none;
    margin: 0;
    padding: 0.25em;
    background-color: #FFFFFF;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#news, #tagcloud, #selectedproject, #projectslist,
#metricslist, #fileslist, #developerslist, #loginpage {
    padding: 1ex;
    padding-left: 56px;
    min-height: 52px; /* 36px for image + 8px padding */
}

#news {
    background: #fff url(/img/news_section.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud {
    background: #fff url(/img/toys_section.png) no-repeat;
    background-position: 12px 8px;
}

#projectslist {
    background: #fff url(/img/desktop-mdk.png) no-repeat;
    background-position: 12px 8px;
}

#metricslist {
    background: #fff url(/img/artsaudiomanager.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud td {
    text-align: center;
}

#tagcloud a {
    text-decoration: none;
}

#contents {
    border: none;
    padding: 0;
}

#contents .group {
    border: 1px dotted #cccccc;
    margin-bottom: 20px;
}

#content td {
    background-color: #fff;
    border: 0px;
}

ul.projectslist {
    list-style-image: url(/img/icons/16x16/document-preview.png);
    margin: 0;
    padding-left: 2em;
}

/* These are little link spans to unselect something. */
span.forget {
    margin-left: 30px;
    font-size: 0.6em;
    color: #666;
}

span.forget a {
    color: #666;
}
input.submit {
    width: 80px;
}
#error ul li {
    list-style-type: square;
    color: #CE2323;
}
#fileslist li {
    list-style-type: none;
}
/* ===[ ICONS CSS ]======================================================= */
a.tb img {
    border: 0px none;
    margin-right: 2px;
    background-color: transparent;
}
img.tb {
    border: 0px none;
    margin-right: 2px;
    background-color: transparent;
}
/* ===[ WINDOW CSS ]====================================================== */
div.win {
    border: 1px solid #000000;
    margin-bottom: 0.5em;
}
div.winTitle {
    position:relative;
    margin: 0;
    border-bottom: 1px solid #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    background-color: #CCCCCC;
}
div.winTitleBar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10%;
    text-align:right;
}
div.winToolbar {
    position:relative;
    margin: 0;
    border-bottom: 2px ridge #000000;
    border-top: 2px groove #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    background-color: #F0F0F0;
}
div.winContent {
    padding: 0.5em;
    max-height: 30em;
    overflow: auto;
}
div.winFooter {
    position:relative;
    bottom: 0;
    margin: 0;
    border-top: 1px solid #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    background-color: #F0F0F0;
}
/* ===[ TABLES CSS ]====================================================== */
#table {
    font-size: 10pt;
    clear:both;
}
#table table {
    width: 100%;
    border: 1px solid #C6C6C5;
}
#table td {
    padding-left: 10px;
    border: 1px solid #C6C6C5;
    text-align: left;
}
#table input.expand {
    width: 100%;
}
#table .borderless {
    border: 0;
    background-color: transparent;
}
#table tr.head {
    background-color: #CCCCFF;
    font-weight: bold;
}
#table tr.foot {
    background-color: #C6C6C5;
    font-weight: bold;
}
#table tr.edit {
    cursor: pointer;
}
#table tr.edit:hover {
    background-color: #FFFF99;
}
#table tr.selected {
    background-color: #FFFF99;
}
#table td.head {
    background-color: transparent;
    text-align: left;
}
#table td.foot {
    background-color: transparent;
    text-align: left;
}
#table td.name {
    font-weight: bold;
}
#table td.edit {
    cursor: pointer;
}
#table td.edit:hover {
    background-color: #FFFF99;
}
#table td.trans {
    background-color: transparent;
}
#table td.attr {
    background-color: Bisque;
}
#table td.noattr {
    background-color: Bisque;
    font-style: italic;
}
