#contents {
    border-top: 1px solid #ccc;
    margin-top: 1ex;
    background: #fcfbf3;
    margin-bottom: 2ex;
    margin-left: 220px;
    margin-right: 2ex;
    font-size: 0.8em;
}

#sidebar, #menu {
    background: #fcfbf3;
    width: 180px;
    float: left;
    clear: left;
    border: 1px solid #cccccc;
    padding: 1ex 1em;
    margin: 1ex 1ex 0ex 1ex;
    font-size: 0.8em;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 5px;
    font-weight: bold;
}

#news {
    padding: 1ex 1em;
    padding-left: 76px;
    background: #fff url(/img/news_section.png) no-repeat;
    background-position: 12px 8px;
    min-height: 52px; /* 36px for image + 8px padding */
}

#tagcloud {
    padding: 1ex 1em;
    padding-left: 76px;
    background: #fff url(/img/toys_section.png) no-repeat;
    background-position: 12px 8px;
    min-height: 52px; /* 36px for image + 8px padding */
}

#tagcloud td {
    text-align: center;
}

#tagcloud a {
    text-decoration: none;
}

#contents .group {
    border: 1px dotted #cccccc;
}

.metrics {
    margin: 0px;
    padding: 4px;
    border: 1px solid #cccccc;
}


table.metrics {
    margin: 0px;
    border: 2px solid #cccccc;
}

div.green {
    display: inline;
    color: green;
}

ul.projectslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    border-left: 1px dotted #cccccc;
    border-top: 1px dotted #cccccc;
    padding-left: 3px;
}

/* These are little link spans to unselect something. */
span.forget {
    margin-left: 30px;
    font-size: 0.6em;
    color: #ccc;
}

span.forget a {
    color: #ccc;
}
