/* CSS Specific to the webui (public facing website). See screen.css
   for the general layout common to Alitheia web pages.
*/

#contents table {
    border-color: none;
    border-width: 0 0 0 0;
}

#contents thead {
    text-align: center;
    font-weight: bold;
}

#contents td {
        border-color: none;
        border-width: 0 0 0 0;
        margin: 0;
        padding: 4px;
        background-color: #fff;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#news, #tagcloud, #selectedproject,
#projectslist, #metricslist, #fileslist, #loginpage {
    padding: 1ex 1em;
    padding-left: 56px;
    min-height: 52px; /* 36px for image + 8px padding */
}

#news {
    background: #fff url(/img/news_section.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud {
    background: #fff url(/img/toys_section.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud td {
    text-align: center;
}

#tagcloud a {
    text-decoration: none;
}

#contents {
    border: none;
    padding: 0;
}

#contents .group {
    border: 1px dotted #cccccc;
    margin-bottom: 20px;
}

#content td {
    background-color: #fff;
    border: 0px;
}

table.projectinfo {
    background-color: #f3f3f3;
}

ul.projectslist {
    list-style-type: square;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    padding-left: 3px;
}

/* These are little link spans to unselect something. */
span.forget {
    margin-left: 30px;
    font-size: 0.6em;
    color: #666;
}

span.forget a {
    color: #666;
}

#error ul li {
    list-style-type: square;
    color: #CE2323;
}

/* ===[ TABLES CSS ]===================================================== */
#table table {
    border-collapse: collapse;
    width: 100%;
}
#table td {
    padding-left: 10px;
}
#table input {
    width: 100%;
}

#table tr.head {
    background-color: #F3F3F3;
}
#table td.head {
    text-align: left;
    font-weight: bold;
}
#table td.name {
    font-weight: bold;
}
