/* CSS Specific to the webui (public facing website). See screen.css
   for the general layout common to Alitheia web pages.
*/

#news,
#tagcloud,
#projectslist,
#loginpage {
    border: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    /* Height: 36px for image and 5px padding. */
    min-height: 46px;
    padding: 5px 5px 0px 46px;
}
#developerslist
#fileslist,
#metricslist,
#selectedproject,
#versionslist {
    border: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    padding: 5px 5px 0px 5px;
}
#news {
    background: #fff url(/img/news_section.png) no-repeat;
    background-position: 5px 5px;
}
#tagcloud {
    background: #fff url(/img/toys_section.png) no-repeat;
    background-position: 5px 5px;
}
#tagcloud td {
    text-align: center;
}
#tagcloud a {
    text-decoration: none;
}
#projectslist {
    background: #fff url(/img/desktop-mdk.png) no-repeat;
    background-position: 5px 5px;
}
#selectedproject table {
    border-collapse: collapse;
    width: 100%;
}
#selectedproject td {
    padding: 0;
    vertical-align: top;
}

ul.projectslist {
    list-style-image: url(/img/icons/16x16/document-preview.png);
    margin: 0;
    padding-left: 2em;
}

/* These are little link spans to unselect something. */
span.forget {
    margin-left: 30px;
    font-size: 0.6em;
    color: #666;
}

span.forget a {
    color: #666;
}
input.submit {
    width: 80px;
}
#error ul li {
    list-style-type: square;
    color: #CE2323;
}
#fileslist li {
    list-style-type: none;
}
/* ===[ ICONS CSS ]======================================================= */
a.icon img {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
    opacity: .70;
}
a:hover.icon img {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
    opacity: 1;
}
img.icon {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
}
img.icon_disabled {
    background-color: transparent;
    border: 0px none;
    margin-left: 1px;
    margin-right: 1px;
    opacity: .25;
}
p.texticon {
    color: inherit;
    display: inline;
    padding: 0;
    vertical-align: top;
}
p.texticon_disabled {
    color: #A0A0A0;
    display: inline;
    padding: 0;
    vertical-align: top;
}
a.texticon {
    color: #000000;
    background-color: transparent;
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: top;
}
a:visited.texticon {
    color: #000000;
    background-color: transparent;
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: top;
}
a:hover.texticon {
    color: #0099FF;
    background-color: transparent;
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: top;
}
form.icoTextInput {
    display: inline;
    font-size: 10px;
    margin-left: 5px;
    vertical-align: top;
}
input.icoTextInput {
    border: 1px inset black;
    display: inline;
    font-size: 11px;
    margin-left: 5px;
    padding: 0;
    vertical-align: top;
    width: 5em;
}
select.icoTextInput {
    border: 1px inset black;
    display: inline;
    font-size: 11px;
    margin-left: 5px;
    padding: 0;
    vertical-align: top;
    width: 5em;
}
/* ===[ WINDOW CSS ]====================================================== */
div.win {
    border: 1px solid #000000;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
div.winTitle {
    background-color: #A4D3EE;
    border-bottom: 1px solid #000000;
    font-family: "Courier New" "Monaco" "DejaVu Sans Mono" monospace;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding-left: 5px;
    position: relative;
}
div.winTitleBar {
    bottom: 0;
    padding-top: 1px;
    position: absolute;
    right: 0;
    text-align:right;
    top: 0;
}
div.winToolbar {
    background: #F0F0F0 url(/img/icons/16x16/toolbarbg01.png) repeat-x;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    height: 18px;
    line-height: 16px;
    margin: 0;
    padding-top: 2px;
    padding-left: 5px;
}
div.winContent {
    max-height: 680px;
    overflow: auto;
    padding: 5px;
}
div.winFooter {
    bottom: 0;
    margin: 0;
    border-top: 1px solid #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    background-color: #F0F0F0;
}
div.browserLine {
    line-height: 16px;
    margin: 0;
    padding-top: 2px;
    position: relative;
}
/* ===[ TABLES CSS ]====================================================== */
table.def {
    border: 1px solid #C6C6C5;
    font-size: 10pt;
    width: 100%;
}
td.def {
    border: 1px solid #C6C6C5;
    padding-left: 5px;
    text-align: left;
}
td.def_right {
    border: 1px solid #C6C6C5;
    padding-right: 5px;
    text-align: right;
}
td.def_empty {
    background-color: #E0E0E0;
    border: 1px solid #C6C6C5;
}
td.def_head {
    background-color: #E6E6FA;
    border: 1px solid #C6C6C5;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    padding-left: 5px;
    text-align: left;
}
div.def_head {
    height: 18px;
    line-height: 18px;
    margin: 0;
    position: relative;
    width: 100%
}
div.def_head_bar {
    bottom: 0;
    padding-top: 1px;
    position: absolute;
    right: 0;
    text-align:right;
    top: 0;
}
td.def_foot {
    background-color: #C6C6C5;
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
}
td.def_invisible {
    border: 0;
    background-color: transparent;
}
/* ===[ Project into view related ]======================================= */
div.piv {
    background: transparent url(/img/icons/16x16/piv_bg_01.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 600px;
    height: 120px;
}
table.piv {
}
td.piv {
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100px;
}
td.piv_project {
    font-size: 16px;
}
td.piv_resource {
    background: transparent url(/img/icons/16x16/piv_stripe_01.png) no-repeat;
}
a.piv {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
a.piv:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
a.piv:hover {
    color: #0033CC;
    font-weight: bold;
    text-decoration: none;
}
/* ===[ Data view related ]=============================================== */
td.dvPanelLeft {
    width: 251px;
}
td.dvPanelPight {
    
}
div.dvSubpanelLeft {
    border: 1px solid black;
    width: 115px;
    float: left;
}
div.dvSubpanelRight {
    border: 1px solid black;
    width: 115px;
    margin-left: 5px;
    float: left;
}
div.dvSubpanelApply {
    position: relative;
    clear: both;
    padding-top: 5px;
    border: 0;
    text-align: center;
}
div.dvSubtitle {
    background-color: #FEF0C9;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-left: 5px;
}
select.dvSubselect {
    border: none;
    width:115px;
}
table.dvChart {
    border-collapse: separate;
}
td.dvChartTitle {
    background: url(/img/icons/16x16/vfvstripe01.png) no-repeat right;
    border: 0;
    height: 18px;
    padding-left: 5px;
    text-align: left;
    width: 5em;
}
td.dvChartTitleSelected {
    background-color: #E6E437;
    border: 1px solid black;
    border-right: 0;
    font-weight: bold;
    height: 18px;
    padding-left: 5px;
    text-align: left;
    width: 5em;
}
td.dvChartTitleEmpty {
    border: 0;
    border-right: 1px solid black;
    padding-left: 5px;
    text-align: left;
    width: 5em;
}
td.dvChartImage {
    background-color: #E6E437;
    border: 1px solid black;
    border-left: 0;
    padding: 5px;
    text-align: center;
}
a.dvChartImage img {
    border: 0px none;
    /* width: 100%; */
}
/* ===[ Full screen view related ]======================================== */
div.fullscreen {
    text-align: center;
    vertical-align: middle;
}
a.fullscreen img {
    border: 0px none;
}
/* ===[ Project data view related ]======================================= */
td.pdv {
    width: 33%;
}
td.pdv_chart {
    background-color: #FFFF99;
    border: 1px solid black;
}
a.pdv_chart img {
    border: 0px none;
    width: 100%;
}
/* ===[ TO SORT]========================================================== */
#table td.head {
    background-color: #E6E6FA;
    font-weight: bold;
    text-align: left;
}
#table td.foot {
    background-color: #C6C6C5;
    font-weight: bold;
    text-align: left;
}
#table {
    font-size: 10pt;
    clear:both;
}
#table table {
    width: 100%;
    border: 1px solid #C6C6C5;
}
#table td {
    padding-left: 10px;
    border: 1px solid #C6C6C5;
    text-align: left;
}
#table input.expand {
    width: 100%;
}
#table .borderless {
    border: 0;
    background-color: transparent;
}
#table tr.edit {
    cursor: pointer;
}
#table tr.edit:hover {
    background-color: #FFFF99;
}
#table tr.selected {
    background-color: #FFFF99;
}
#table td.name {
    font-weight: bold;
}
#table td.edit {
    cursor: pointer;
}
#table td.edit:hover {
    background-color: #FFFF99;
}
#table td.trans {
    background-color: transparent;
}
#table td.attr {
    background-color: Bisque;
}
#table td.noattr {
    background-color: Bisque;
    font-style: italic;
}
#table td.chart {
    text-align: center;
    padding: 5px;
    background-color: #DDFFFF;
}