/* CSS Specific to the webui (public facing website). See screen.css
   for the general layout common to Alitheia web pages.
*/

#contents table {
    border: none;
    border-width: 0 0 0 0;
}

#contents thead {
    text-align: center;
    font-weight: bold;
}

#contents td {
    border: none;
    border-width: 0 0 0 0;
    margin: 0;
    padding: 4px;
    background-color: #fff;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#news, #tagcloud, #selectedproject,
#projectslist, #metricslist, #fileslist, #loginpage {
    padding: 1ex 1em;
    padding-left: 56px;
    min-height: 52px; /* 36px for image + 8px padding */
}

#news {
    background: #fff url(/img/news_section.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud {
    background: #fff url(/img/toys_section.png) no-repeat;
    background-position: 12px 8px;
}

#projectslist {
    background: #fff url(/img/desktop-mdk.png) no-repeat;
    background-position: 12px 8px;
}

#metricslist {
    background: #fff url(/img/artsaudiomanager.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud td {
    text-align: center;
}

#tagcloud a {
    text-decoration: none;
}

#contents {
    border: none;
    padding: 0;
}

#contents .group {
    border: 1px dotted #cccccc;
    margin-bottom: 20px;
}

#content td {
    background-color: #fff;
    border: 0px;
}

table.projectinfo {
    background-color: #f3f3f3;
}

ul.projectslist {
    list-style-type: square;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    padding-left: 3px;
}

/* These are little link spans to unselect something. */
span.forget {
    margin-left: 30px;
    font-size: 0.6em;
    color: #666;
}

span.forget a {
    color: #666;
}

span.error {
    padding: 5px 2px 5px 2px;
    background-color: #FF6633;
    color: black;
    text-align: left;
    font-weight: bold;
    width: 100%;
    border: 1px solid #cccccc;
}

span.warning {
    padding: 5px 2px 5px 2px;
    background-color: #FFFF99;
    color: black;
    text-align: left;
    font-weight: bold;
    width: 100%;
    border: 1px solid #cccccc;
}

span.debug {
    padding: 5px 2px 5px 2px;
    background-color: #66FF99;
    color: black;
    text-align: left;
    font-weight: bold;
    width: 100%;
    border: 1px solid #cccccc;
}

a.button {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #cccccc;
    padding: 0px 2px 0px 2px;
    margin-left: 2px;
    border: 2px outset #cccccc;
}

input.submit {
    width: 80px;
}

a.button:hover {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #cccccc;
    background-color: #FFFF99;
    padding: 2px 2px 2px 2px;
    margin-left: 2px;
    border: 2px outset #cccccc;
}

a.button:visited {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #cccccc;
    padding: 2px 2px 2px 2px;
    margin-left: 2px;
    border: 2px outset #cccccc;
}

#error ul li {
    list-style-type: square;
    color: #CE2323;
}
#fileslist li {
    list-style-type: none;
}

/* ===[ TABLES CSS ]===================================================== */
#table {
    font-size: 10pt;
}
#table table {
    width: 100%;
    border: 1px solid #C6C6C5;
}
#table td {
    padding-left: 10px;
    border: 1px solid #C6C6C5;
    text-align: left;
}
#table input.expand {
    width: 100%;
}
#table .borderless {
    border: 0;
    background-color: transparent;
}
#table tr.head {
    background-color: #CCCCFF;
    font-weight: bold;
}
#table tr.foot {
    background-color: #C6C6C5;
    font-weight: bold;
}
#table tr.edit {
    cursor: pointer;
}
#table tr.edit:hover {
    background-color: #FFFF99;
}
#table tr.selected {
    color: Green;
    cursor: pointer;
    background-color: #FFFF99;
}
#table td.head {
    background-color: transparent;
    text-align: left;
}
#table td.foot {
    background-color: transparent;
    text-align: left;
}
#table td.name {
    font-weight: bold;
}
#table td.edit {
    cursor: pointer;
}
#table td.edit:hover {
    background-color: #FFFF99;
}
#table td.trans {
    background-color: transparent;
}
#table td.attr {
    background-color: Bisque;
}
#table td.noattr {
    background-color: Bisque;
    font-style: italic;
}
