#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#news, #tagcloud, #selectedproject,
#projectslist, #metricslist, #fileslits,  #loginpage {
    padding: 1ex 1em;
    padding-left: 20px;
    /*padding-left: 76px;*/
    min-height: 52px; /* 36px for image + 8px padding */
}

#news {
    background: #fff url(/img/news_section.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud {
    background: #fff url(/img/toys_section.png) no-repeat;
    background-position: 12px 8px;
}

#tagcloud td {
    text-align: center;
}

#tagcloud a {
    text-decoration: none;
}

#contents {
    border: none;
    padding: 0;
}

#contents .group {
    border: 1px dotted #cccccc;
    margin-bottom: 20px;
}

#selectedproject table.projectinfo {
    margin: 3px 0px 3px 3em;
}
#statusbar {
    background:#f6f6f6;
    border-top: 1px solid #ccc;
    text-align: left;
    font-size: 0.8em;
    width: 100%;
    height: 1.2em;
    position: absolute;
    bottom: 0;
    left: 0;
}
ul.projectslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    padding-left: 3px;
}

/* These are little link spans to unselect something. */
span.forget {
    margin-left: 30px;
    font-size: 0.6em;
    color: #666;
}

span.forget a {
    color: #666;
}

#error ul li {
    list-style-type: square;
    color: #CE2323;
}

